{% extends 'recipes/layout.html' %}
{% load static %}
{% block title %}
Index
{% endblock %}
{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="listbox">
                <button class="button is-danger colapse-btn mb">Show/Hide Filters</button>
                <div id="" class="filters colapsed">
                    <button class="button is-success" id="clear-filter">Clear Filters!</button>
                    <div class="field">
                        <label class="label">Cuisines:</label>
                        <div class="control has-icons-right">
                            <form action="" id="cuisine-form">
                                <input class="input" autocapitalize="on" autocomplete="off" list="cuisine-list" type="text" placeholder="Cuisine" id="cuisine">
                            </form>
                            <span class="icon is-small is-right destroy">
                                <i class="fa-sharp fa-solid fa-plus"></i>
                            </span>
                            <datalist id="cuisine-list">
                                <option value="American"></option>
                                <option value="Italian"></option>
                                <option value="Chinese"></option>
                                <option value="Indian"></option>
                                <option value="Mexican"></option>
                                <option value="Japanese"></option>
                                <option value="French"></option>
                                <option value="Thai"></option>
                                <option value="Greek"></option>
                                <option value="Spanish"></option>
                                <option value="Mediterranean"></option>
                                <option value="Turkish"></option>
                                <option value="Vietnamese"></option>
                                <option value="Korean"></option>
                                <option value="Portuguese"></option>
                                <option value="Ethiopian"></option>
                                <option value="Armenian"></option>
                                <option value="Persian"></option>
                                <option value="Cuban"></option>
                                <option value="Nigerian"></option>
                                <option value="Sri-lankan"></option>
                                <option value="Southern"></option>
                                <option value="Indonesian"></option>
                                <option value="Malaysian"></option>
                                <option value="Swedish"></option>
                                <option value="Russian"></option>
                                <option value="Czech"></option>
                                <option value="Belgian"></option>
                                <option value="Australian"></option>
                                <option value="Lithuanian"></option>
                                <option value="Hungarian"></option>
                                <option value="Latin-american"></option>
                            </datalist>
                        </div>
                        <p class="help">Add cuisines to the filter list</p>
                        <div class="tags are-small is-rounded" id="cuisine-tags">
                        </div>
                    </div>
                    <div class="checkboxes">
                        <div class="block">
                            <h2 class="title is-5">category:</h2>
                        </div>
                        <div class="block">
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="appetizers" />
                                    Appetizers
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="main-course" />
                                    Main Course
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="side-dishes" />
                                    Side Dishes
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="desserts" />
                                    Desserts
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="snacks" />
                                    Snacks
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="breakfast" />
                                    Breakfast
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="lunch" />
                                    Lunch
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="dinner" />
                                    Dinner
                                </label>
                            </div>
                            <div>
                                <label class="checkbox">
                                    <input type="checkbox" autocomplete="off" name="category" value="brunch" />
                                    Brunch
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="list">
                {% for recipe in recipes %}
                <div class="list-item listbox recipe" data-category="{{ recipe.category }}" data-cuisine="{{ recipe.cuisine }}" data-recipe="{{ recipe.id }}">
                    <a href="{% url 'recipe' recipe.id %}">
                        <div class="columns">
                            <div class="column">
                                <img class="img" src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
                            </div>
                            <div class="column">
                                <div class="title is-5">
                                    <h2> {{ recipe.title }}</h2>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <p>servings: {{ recipe.servings }}</p>
                                        <p>cooking time: {{ recipe.cooking_time }}</p>
                                        <p>preperation time: {{ recipe.preperation_time }}</p>
                                    </div>
                                    <div class="column">
                                        <p>category: {{ recipe.category }}</p>
                                        <p>cuisine: {{ recipe.cuisine }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'recipes/scripts/filter.js' %}"></script>
{% endblock %}