{% extends 'recipes/layout.html' %}
{% load static %}
{% block title %}
Index
{% endblock %}
{% block body %}
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="listbox">
                <div class="checkboxes">
                    <div class="block">
                        <h2 class="title is-5">category:</h2>
                    </div>
                    <div class="block">
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="appetizers" />
                                Appetizers
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="main-course" />
                                Main Course
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="side-dishes" />
                                Side Dishes
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="desserts" />
                                Desserts
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="snacks" />
                                Snacks
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="breakfast" />
                                Breakfast
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="lunch" />
                                Lunch
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="dinner" />
                                Dinner
                            </label>
                        </div>
                        <div>
                            <label class="checkbox">
                                <input type="checkbox" autocomplete="off" name="category" value="brunch" />
                                Brunch
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-three-quarters">
            <div class="list">
                {% for recipe in recipes %}
                <div class="list-item listbox recipe" data-category="{{recipe.category}}">
                    <a href="{% url 'recipe' recipe.id %}">
                        <div class="columns">
                            <div class="column">
                                <img class="img" src="{{ recipe.image_url}}" alt="{{ recipe.title }}">
                            </div>
                            <div class="column">
                                <div class="title is-5">
                                    <h2> {{ recipe.title }}</h2>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <p>servings: {{ recipe.servings }}</p>
                                        <p>cooking time: {{ recipe.cooking_time }}</p>
                                        <p>preperation time: {{ recipe.preperation_time }}</p>
                                    </div>
                                    <div class="column">
                                        <p>category: {{ recipe.category }}</p>
                                        <p>cuisine: {{ recipe.cuisine }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'recipes/scripts/filter.js' %}"></script>
{% endblock %}