{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'recipes/style/style.css' %}">
    <script src="{% static 'recipes/scripts/hamburger.js'%}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
            <a role="button" class="navbar-burger" id="burger-button" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-items">
            <div class="navbar-end">
                <form action="{% url 'search' %}" method="get">
                    <div class="field has-addons navbar-item" id="search">
                        <div class="control">
                            <input class="input is-small" type="text" placeholder="Find a Recipe" name="q">
                        </div>
                        <div class="control">
                            <button class="button is-info is-small">
                                Search
                            </button>
                        </div>
                </form>
            </div>
            <a class="navbar-item" href="{% url 'index' %}">Index</a>
            {% if user.is_authenticated %}
            <a class="navbar-item" href="{% url 'newrecipe' %}">Create recipe</a>
            <a class="navbar-item" href="{% url 'logout' %}">Logout ({{ user }})</a>
            {% else %}
            <a class="navbar-item" href="{% url 'login' %}">Login</a>
            <a class="navbar-item" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>

        </div>
    </nav>

    <div class="content">
        {% block body %}

        {% endblock %}
    </div>
</body>

</html>