{% extends 'recipes/layout.html' %}
{% load static %}
{% block title %}
new recipe
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="title is-3">Create a new recipe</h1>
    <form action="{% url 'newrecipe' %}" method="post">
        {% csrf_token %}
        <h2 class="title is-4">Recipe</h2>
        <div class="fixed-grid has-1-cols-mobile has-2-cols-desktop">
            <div class="grid">
                <div class="field">
                    <div class="label">Title</div>
                    <input class="input" type="text" name="title" aria-label="title" placeholder="title" required autofocus autocapitalize="on" autocomplete="off">
                </div>
                <div class="field">
                    <div class="label">description</div>
                    <input autocomplete="off" class="input" type="text" name="description" aria-label="description" placeholder="description" required">
                </div>
                <div class="field">
                    <div class="label">Servings</div>
                    <input autocomplete="off" class="input" type="number" min="0" name="servings" aria-label="servings" placeholder="servings" required">
                </div>
                <div class="field">
                    <div class="label">Cuisine</div>
                    <input autocomplete="off" class="input" type="text" name="cuisine" aria-label="cuisine" placeholder="cuisine" list="cuisine" required">
                    <datalist id="cuisine">
                        <option value="American"></option>
                        <option value="Italian"></option>
                        <option value="Chinese"></option>
                        <option value="Indian"></option>
                        <option value="Mexican"></option>
                        <option value="Japanese"></option>
                        <option value="French"></option>
                        <option value="Thai"></option>
                        <option value="Greek"></option>
                        <option value="Spanish"></option>
                        <option value="Mediterranean"></option>
                        <option value="Turkish"></option>
                        <option value="Vietnamese"></option>
                        <option value="Korean"></option>
                        <option value="Portuguese"></option>
                        <option value="Ethiopian"></option>
                        <option value="Armenian"></option>
                        <option value="Persian"></option>
                        <option value="Cuban"></option>
                        <option value="Nigerian"></option>
                        <option value="Sri-lankan"></option>
                        <option value="Southern"></option>
                        <option value="Indonesian"></option>
                        <option value="Malaysian"></option>
                        <option value="Swedish"></option>
                        <option value="Russian"></option>
                        <option value="Czech"></option>
                        <option value="Belgian"></option>
                        <option value="Australian"></option>
                        <option value="Lithuanian"></option>
                        <option value="Hungarian"></option>
                        <option value="Latin-american"></option>
                    </datalist>
                </div>
                <div class="field">
                    <div class="label">Cooking time: (min)</div>
                    <input autocomplete="off" class="input" type="number" name="cooking-time" aria-label="cooking-time" placeholder="cooking time (minutes)" required min="0">
                </div>
                <div class="field">
                    <div class="label">Preperation time (min)</div>
                    <input autocomplete="off" class="input" type="number" name="preperation-time" aria-label="preperation-time" placeholder="preperation time (minutes)" required min="0">
                </div>
                <div class="field">
                    <div class="label">Category</div>
                    <div class="select is-expanded wide">
                        <select name="category" class="wide">
                            <option value="" selected disabled> -- Please select a category -- </option>
                            <option value="appetizers">Appetizers (Starters)</option>
                            <option value="main-course">Main Course (Entrée)</option>
                            <option value="side-dishes">Side Dishes</option>
                            <option value="desserts">Desserts</option>
                            <option value="snacks">Snacks</option>
                            <option value="breakfast">Breakfast</option>
                            <option value="lunch">Lunch</option>
                            <option value="dinner">Dinner (Supper)</option>
                            <option value="brunch">Brunch</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="label">Image url</div>
                    <input autocomplete="off" class="input" type="text" name="image-url" aria-label="image url" placeholder="image url" require">
                </div>
                <div class="field">
                    <h2 class="title is-4">Ingredients</h2>
                    <div class="field" id="ingredient-list">
                        <div class="field has-addons ingredient-model">
                            <div class="control">
                                <div class="select">
                                    <select name="unit[0]">
                                        <option value="g">Grams</option>
                                        <option value="kg">Kilograms</option>
                                        <option value="ml">Milliliters</option>
                                        <option value="L">Liters</option>
                                        <option value="pcs">Pieces</option>
                                        <option value="tsp">Teaspoons</option>
                                        <option value="tbsp">Tablespoons</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control">
                                <input autocomplete="off" type="number" class="input" name="amount[0]" aria-label="Amount" placeholder="Amount" min="0" required>
                            </div>
                            <div class="control has-icons-right">
                                <input autocomplete="off" type="text" class="input" name="ingredient[0]" aria-label="Ingredient" placeholder="Ingredient" required>
                                <span class="icon is-small is-right destroy">
                                    <i class="fa-sharp fa-solid fa-xmark"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button class="button is-success" id="new-ingredient">Add ingredient</button>
                </div>
                <div class="field">
                    <h2 class="title is-4">Instructions</h2>
                    <div class="field" id="instruction-list">
                        <div class="field control has-icons-right drag-and-drop has-addons instruction-model" draggable="true">
                            <div class="control has-icons-right is-expanded">
                                <input autocomplete="off" class="input" type="text" name="instruction[0]" aria-label="instruction" placeholder="Instruction" required>
                                <span class="icon is-small is-right destroy">
                                    <i class="fa-sharp fa-solid fa-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class=" field">
                        <button class=" button is-success" id="new-instruction">Add instruction</button>
                    </div>
                </div>
                <div class="field">
                    <button class=" button is-success is-dark">Create new recipe!</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="{% static 'recipes/scripts/addfields.js' %}"></script>
{% endblock %}