{% extends 'recipes/layout.html' %}
{% block title %}
Register
{% endblock %}
{% block body %}
<div class="container">
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <div class="label">Username</div>
            <input class="input" type="text" name="username" aria-label="Username" placeholder="Username" required
                autofocus autocapitalize="on" autocomplete="off">
        </div>
        <div class="field">
            <div class="label">Password</div>
            <input class="input" type="password" name="password" aria-label="Password" placeholder="Password" require">
        </div>
        <div class="field">
            <div class="label">Confirm your Password</div>
            <input class="input" type="password" name="password-confirmation" aria-label="Confirm password"
                placeholder="Confirm password" require">
        </div>
        <div class="field">
            <div class="label">email</div>
            <input class="input" type="email" name="email" aria-label="Email" placeholder="Email" require">
        </div>
        <div class="field">
            <div class="label">Confirm your Email</div>
            <input class="input" type="email" name="email-confirmation" aria-label="Confirm email"
                placeholder="Confirm email" require">
        </div>
        <button class="button is-success is-dark">Register!</button>
    </form>
</div>
{% endblock %}